@use "./variables"as *;

body {
    background-color: #f9f9f9;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 300;
    border: 1px solid red;
    padding: 0;
    margin: 0;
    display: flex;

    main {
        padding: 60px 50px;
    }
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    border: 1px solid #000;
    text-align: center;
}