// TODO
// move styles out of /app and into own folder
// also figure out the .navigation class name thing idk 

.navigation {
    background: #fff;
    padding: 70px 60px;
    height: 100%;

    .logo {
        margin-bottom: 50px;
        margin-bottom: 50px;

        a {
            display: block;

            h1 {
                font-family: "Poppins-SemiBold", sans-serif;
                font-size: 48px;
                letter-spacing: -2px;
                line-height: 48px;
                font-family: "Poppins-SemiBold", sans-serif;
                font-size: 48px;
                letter-spacing: -2px;
                line-height: 48px;
            }

            p {
                font-family: "Poppins-Medium", sans-serif;
                font-family: "Poppins-Medium", sans-serif;
                font-size: 1rem;
                color: #666;
                margin-top: 5px;
                letter-spacing: -1px;
                letter-spacing: -1px;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;

            a {
                font-family: "Poppins-Medium", sans-serif;
                text-decoration: none;
                font-size: 24px;
                transition: color 0.2s;
                letter-spacing: -1px;
                display: inline-block;
                padding: 20px 0;
                color: #808080;

                &:hover {
                    color: #000;
                }

                &.active {
                    color: #000;
                }

                svg {
                    margin: -4px 10px 0 0;
                }
            }
        }

        li:has(a.active) {

            &::after {
                content: "";
                position: absolute;
                left: calc(100% - 20px);
                top: 50%;
                transform: translateY(-50%);
                width: 60px;
                display: inline-block;
                width: 0;
                height: 0;
                border-left: 40px solid transparent;
                border-right: 40px solid #f5f5f5;
                border-bottom: 40px solid transparent;
                border-top: 40px solid transparent;
                background: linear-gradient(180deg, #1560e0 0%, #0b347a 100%);
            }
        }
    }
}