.page-header {
    margin-bottom: 30px;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    &__title {

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h2 {
            font-size: 36px;
            margin: 0;
        }

        &__filters {
            display: flex;
            gap: 12px;

            button {
                width: 200px;
                padding: 8px 12px;
                border: 2px solid #e2e2e2;
                background-color: #fff;
                border-radius: 22px;
                outline: none;
                text-transform: uppercase;

                &:hover {
                    border-color: #888888;
                    cursor: pointer;
                }

                &.active {
                    border-color: #000;
                }
            }
        }
    }

    &__user {

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__profile {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 25px;
            margin-bottom: 30px;

            &__name-and-location {
                text-align: right;

                .name {
                    font-size: 18px;
                    margin: 0;
                    font-weight: bold;
                }
            }

            &__photo {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: #e2e2e2;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }

        &__search {
            position: relative;

            input {
                width: 400px;
                padding: 8px 12px 8px 40px;
                border: 2px solid #e2e2e2;
                background-color: #fff;
                border-radius: 22px;
                outline: none;

                &:focus {
                    border-color: #000;
                }
            }

            svg {
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
                color: #888;
            }
        }
    }
}