.page-header {
    border: 1px solid red;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        border: 1px solid blue;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h2 {
            font-size: 36px;
            margin: 0;
        }

        &__filters {
            border: 1px solid green;
        }
    }

    &__user {
        border: 1px solid purple;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__search {
            border: 1px solid orange;
        }
    }
}