.page-header {
    border: 1px solid red;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        border: 1px solid blue;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h2 {
            font-size: 36px;
            margin: 0;
        }

        &__filters {
            border: 1px solid green;
        }
    }

    &__user {
        border: 1px solid purple;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__search {
            position: relative;

            input {
                width: 400px;
                padding: 8px 12px 8px 40px;
                border: 2px solid #e2e2e2;
                background-color: #fff;
                border-radius: 22px;
                outline: none;
            }

            svg {
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
                color: #888;
            }
        }
    }
}